{% extends "_base.html" %}
{% load gravatar %}

{% block title %}Player Profile{% endblock title %}

{% block content %}
<h1>Player Profile Placeholder</h1>
<img src="{% gravatar_url player.email 200 %}"
     alt="{{profile.username}}'s Gravatar">
<ul>
    <li>{{ player.username }}</li>
    <li>{{ player.email }}</li>
    <li>Record (W-L-T):
        {{ player.games_won }}-{{player.games_lost}}-{{player.games_tied}}
    </li>
    <li>Games abandoned: {{ player.games_abandoned }}</li>
</ul>
<a href="{% url 'invite' receiver_pk=player.id %}">Invite</a>
{% endblock content %}