{% extends "_base.html" %}
{% load gravatar %}

{% block title %}Player List{% endblock title %}

{% block content %}
<p class="fs-2">Player List</p>
<form role="search" action="{% url 'player_search' %}" class="form-inline my-4">
    <div class="form-group mx-sm-3 mb-2">
        <input type="search" name="search" class="form-control"
               placeholder="Search by username" aria-label="Search">
    </div>
    <button type="submit" class="btn btn-primary ms-3 mb-2">Search</button>
</form>
<hr>
<div class="row row-cols-1 row-cols-md-2 rows-cols-lg-3 justify-content-between">
    {% for player in profiles_list %}
    {% include "profile_partial.html" %}
    {% endfor %}
</div>
{% endblock content %}