{% extends "_base.html" %}

{% block title %}Invitation List{% endblock title %}

{% block content %}
<h1>Your Invitations</h1>
<ul>
    {% for invitation in invitation_list %}
    <li>
        {% if invitation.sender == request.user %}
        <strong>Sent:</strong> Invitation to
        <a href="{{ invitation.receiver.get_absolute_url }}">
            {{ invitation.receiver.username }}</a>
        for {{ invitation.game.name }}<br>
        {% elif invitation.receiver == request.user %}
        <strong>Received:</strong> Invitation from
        <a href="{{ invitation.sender.get_absolute_url }}">
            {{ invitation.sender.username }}</a> for
        {{ invitation.game.name }}<br>
        <form method="post"
              action="{% url 'accept_invitation' invitation.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Accept</button>
        </form>
        <form method="post"
              action="{% url 'decline_invitation' invitation.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Decline</button>
        </form>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock content %}
