{% extends "_base.html" %}

{% block title %}Update Game{% endblock title %}

{% block content %}
<h2>Update Game</h2>
<form method="post">
    {% csrf_token %}
    {% for field in form.visible_fields %}
    {% if field.name != "password" or show_password_change %}
    <p>{{ field.label_tag }} {{field}}</p>
    {% else %}
    <p><em>Password not allowed to be changed after player 2 joins.</em></p>
    {% endif %}
    {% endfor %}
    <button class="btn btn-primary" type="submit">Update</button>
</form>
{% endblock content %}
