{% extends "_base.html" %}

{% block title %}Game List{% endblock title %}

{% block content %}
<h1>Game List</h1>
<form role="search" action="{% url 'search' %}"
      class="form-inline my-2 my-lg-0">
    <div class="form-group mx-sm-3 mb-2">
        <input type="search" name="search" class="form-control"
               placeholder="Search" aria-label="Search">
    </div>
    <div class="form-group mx-sm-3 mb-2 form-check">
        <input type="checkbox" name="special_stones" value="1"
               class="form-check-input" checked>
        <label class="form-check-label">Special Stones</label>
    </div>
    <div class="form-group mx-sm-3 mb-2 form-check">
        <input type="checkbox" name="standard_scoring" value="1"
               class="form-check-input" checked>
        <label class="form-check-label">Standard Scoring</label>
    </div>
    <div class="form-group mx-sm-3 mb-2 form-check">
        <input type="checkbox" name="private_games" value="1"
               class="form-check-input">
        <label class="form-check-label">Private Games Only</label>
    </div>
    <button type="submit" class="btn btn-primary ms-3 mb-2">Search</button>
</form>
<hr class="my-3">
{% if game_list %}
<div class="row row-cols-1 row-cols-md-2 rows-cols-lg-3 justify-content-between">
    {% for game in game_list %}
    {% if game.player1 != request.user %}
    {% include 'game_info_partial.html' %}
    {% endif %}
    {% endfor %}
</div>
{% else %}
<p>No open games yet</p>
{% endif %}
{% endblock content %}