<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <title>Mǽrstánas</title>
</head>
<body>
    {% block header %}
    {% include "header.html" %}
    {% endblock header %}

    <div class="container p-4">
        <h1>Join Game Placeholder</h1>
        <p>{{open_game.game_name}}</p>
        <p>{{open_game.player_one}}</p>
        <p>{{open_game.status}}</p>

        <div class="w-75 mx-auto p-3 bg-body-secondary text-body card rounded-4 shadow">
            <h2 class="text-warning">This game is protected and requires a password for you to join.</h2>

            <div>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        {% if message.tags %}
                            <li  class="{{ message.tags }} text-danger" >{{ message }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <form action="/users/private_game/process/" method="post">
                {% csrf_token %}
                <input type="hidden" id="game_name" name="game_name" value="{{ open_game.game_name}}">
                <label for="password" class="form_label">*Password:</label>
                <input type="password" name="password" class="form-control mb-3" id="password">
                <input type="submit" value="Join Game" class="btn btn-lg btn-primary mb-3">
            </form>
        </div>
    </div>

    {% block footer %}
    {% include "footer.html" %}
    {% endblock footer %}

</body>
</html>