{% extends "_base.html" %}
{% load gravatar %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<h1>Dashboard Placeholder</h1>
<div class="d-flex">
    <div>
        <img src="{% gravatar_url user_profile.email 150 %}"
             alt="{{user_profile.username}}'s Gravatar">
    </div>
    <div class="ms-4">
        <h2>{{ user_profile.username }}'s Profile</h2>
        <p>
            <a href="{% url 'userprofile_update' %}">Update Profile</a> |
            <a href="{% url 'userprofile_delete' %}">Delete Profile</a>
        </p>
        <p>
            Record (W-L-T):
            {{ user_profile.games_won }} -
            {{user_profile.games_lost}} -
            {{user_profile.games_tied}}
        </p>
        <p>Games Abandoned: {{ user_profile.games_abandoned }}</p>
        <p>Rating: {{ user_profile.rating }}</p>
    </div>
</div>
<hr>
<a href="{% url 'game_create' %}" class="btn btn-primary">Create a Game</a>
<h3>Hosted Games</h3>
<ul>
    {% for game in hosted_games %}
    <li><a href="{{ game.get_absolute_url }}">{{ game.name }}</a> vs
        {{ game.player2 }}
    </li>
    {% endfor %}
</ul>

<h3>Joined Games</h3>
<ul>
    {% for game in joined_games %}
    <li><a href="{{ game.get_absolute_url }}">{{ game.name }}</a> vs
        {{ game.player1 }}
    </li>
    {% endfor %}
</ul>
<hr>
<h2>Your Invitations</h2>
<ul>
    {% for invitation in invitation_list %}
    <li>
        {% if invitation.sender == request.user %}
        <strong>Sent:</strong> Invitation to
        <a href="{{ invitation.receiver.get_absolute_url }}">
            {{ invitation.receiver.username }}</a>
        ({{ invitation.receiver.rating }})
        for {{ invitation.game.name }}<br>
        {% elif invitation.receiver == request.user %}
        <strong>Received:</strong> Invitation from
        <a href="{{ invitation.sender.get_absolute_url }}">
            {{ invitation.sender.username }}</a>
        ({{ invitation.sender.rating }})
        for {{ invitation.game.name }}<br>
        <form method="post"
              action="{% url 'accept_invitation' invitation.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Accept</button>
        </form>
        <form method="post"
              action="{% url 'decline_invitation' invitation.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Decline</button>
        </form>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock content %}
