{% extends "_base.html" %}
{% load gravatar %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<div class="row row-cols-1 row-cols-md-2 justify-content-between">
    <div class="col">
        <p class="fs-2">My Dashboard</p>
        {% include "profile_partial.html" %}
        <div>
            <a href="{% url 'userprofile_update' %}"
               class="m-1 btn btn-secondary" role="link">Update Profile</a>
            <a href="{% url 'userprofile_delete' %}"
               class="m-1 btn btn-secondary" role="link">Delete Profile</a>
            <a href="{% url 'game_create' %}" class="m-1 btn btn-primary"
               role="link">Create a Game</a>
        </div>

        <hr class="my-5">

        <p class="fs-3 mb-1">System Notices</p>
        <div class="overflow-auto form-control overflow-y-scroll"
             style="height: 10rem">
            <ul class="list-unstyled">
                {% if system_notices %}
                <li><a href="{% url 'delete_all_notices' %}">Delete all
                    notices</a>
                    {% for notice in system_notices %}
                <li>{{ notice }} - <a
                        href="{% url 'delete_notice' notice.id %}">Delete</a>
                </li>
                {% endfor %}
                {% else %}
                <li>No notices</li>
                {% endif %}
            </ul>
        </div>


    </div>
    <div class="col">
        <p class="fs-3 mb-1">Hosted Games</p>
        <div class="overflow-auto form-control overflow-y-scroll"
             style="height: 10rem">
            <ul class="list-unstyled">
                {% for game in hosted_games %}
                <li><a href="{{ game.get_absolute_url }}">{{ game.name }}</a> vs
                    {{ game.player2 }}
                </li>
                {% endfor %}
            </ul>
        </div>
        <p class="fs-3 mb-1 mt-3">Joined Games</p>
        <div class="overflow-auto form-control overflow-y-scroll"
             style="height: 10rem">
            <ul class="list-unstyled">
                {% for game in joined_games %}
                <li><a href="{{ game.get_absolute_url }}">{{ game.name }}</a> vs
                    {{ game.player1 }}
                </li>
                {% endfor %}
            </ul>
        </div>
        <p class="fs-3 mb-1 mt-3">Invitations</p>
        <div class="overflow-auto form-control overflow-y-scroll"
             style="height: 20rem">
            {% for invitation in invitations %}
            {% include "invitation_partial.html" %}
            {% endfor %}
        </div>

    </div>
</div>

{% endblock content %}
