{% block footer %}
<footer class="p-2 mt-3 bg-body-tertiary">
    <div class="container d-flex flex-wrap align-items-center justify-content-between">
        <p class="col-md-4 mb-0 text-body-secondary">&copy; 2024- John Beers</p>
        <a href="https://www.djangoproject.com/" target="_blank">
            <img src="https://www.djangoproject.com/m/img/badges/djangomade124x25.gif"
                 alt="Made with Django." title="Made with Django.">
        </a>
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a
                    href="https://codeberg.org/jaerrib/maerstanas-webapp"
                    class="nav-link px-2 text-body-secondary" target="_blank">View
                the Source Code</a></li>
        </ul>
    </div>
</footer>
{% endblock footer %}
