{% extends "_base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
<h1>Home Page Placeholder</h1>
<hr>
<div>
    <h2>Top 10 Players (by Rating)</h2>
    <ol>
        {% for player in top_10_by_rating %}
        <li>
            <a href="{{ player.get_absolute_url }}">
                {{ player.username }}</a> ({{ player.rating }})
        </li>
        {% endfor %}
    </ol>
    {% if player_list|length < 10 %}
    (Currently fewer than 10 active players)
    {% endif %}
</div>
<hr>
<div>
    <h2>Top 10 Players (by Win Percentage)</h2>
    <ol>
        {% for player in top_10_by_win_percentage %}
        <li>
            <a href="{{ player.get_absolute_url }}">
                {{ player.username }}</a> ({{ player.win_percentage }})
        </li>
        {% endfor %}
    </ol>
    {% if player_list|length < 10 %}
    (Currently fewer than 10 active players)
    {% endif %}
</div>
<hr>
<h2>Total Active Games: {{ total_active_games }}</h2>
<h2>Total Finished Games: {{ total_finished_games }}</h2>
<h2>Total Active Players: {{ total_active_players }}</h2>
{% endblock content %}