{% extends "_base.html" %}

{% block title %}Mǽrstánas: Home{% endblock title %}

{% block content %}
<p class="fs-2">Mǽrstánas</p>
<hr class="my-3">

<div class="row row-cols-1 row-cols-lg-2 justify-content-between">
    <div class="col">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat
            voluptatem. Ut enim aeque doleamus animo, cum corpore dolemus, fieri
            tamen permagna accessio potest, si aliquod aeternum et infinitum
            impendere malum nobis opinemur. Quod idem licet transferre in
            voluptatem, ut postea variari voluptas distinguique possit, augeri
            amplificarique non possit. At etiam Athenis, ut.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat
            voluptatem. Ut enim aeque doleamus animo, cum corpore dolemus, fieri
            tamen permagna accessio potest, si aliquod aeternum et infinitum
            impendere malum nobis opinemur. Quod idem licet transferre in
            voluptatem, ut postea variari voluptas distinguique possit, augeri
            amplificarique non possit. At etiam Athenis, ut.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat
            voluptatem. Ut enim aeque doleamus animo, cum corpore dolemus, fieri
            tamen permagna accessio potest, si aliquod aeternum et infinitum
            impendere malum nobis opinemur. Quod idem licet transferre in
            voluptatem, ut postea variari voluptas distinguique possit, augeri
            amplificarique non possit. At etiam Athenis, ut.</p>
    </div>
    <div class="col">
        <div class="bg-body-tertiary p-3 rounded">
            <p class="fs-3">Top 10 Players (by Rating)</p>
            <ol>
                {% for player in top_10_by_rating %}
                <li>
                    <a href="{{ player.get_absolute_url }}">
                        {{ player.username }}</a> ({{ player.rating }})
                </li>
                {% endfor %}
            </ol>
            {% if player_list|length < 10 %}
            (Currently fewer than 10 active players)
            {% endif %}
        </div>
        <div class="bg-body-tertiary p-3 rounded mt-3">
            <p class="fs-3">Top 10 Players (by Win Percentage)</p>
            <ol>
                {% for player in top_10_by_win_percentage %}
                <li>
                    <a href="{{ player.get_absolute_url }}">
                        {{ player.username }}</a> ({{ player.win_percentage }})
                </li>
                {% endfor %}
            </ol>
            {% if player_list|length < 10 %}
            (Currently fewer than 10 active players)
            {% endif %}
        </div>
        <p class="fs-5 mt-3">There are currently <strong>
            {{ total_active_games }}</strong> games being played by <strong>
            {{ total_active_players }}</strong> active players.</p>
        <p class="fs-5">There have been <strong>
            {{ total_finished_games }}</strong> games finished since launch.</p>
    </div>
</div>
{% endblock content %}


