{% extends "_base.html" %}

{% block title %}Privacy Policy{% endblock title %}

{% block content %}
<p class="fs-2">Privacy Policy Page</p>

<p class="fst-italic">Last Updated: 22 November 2024</p>

<p class="fs-3 mt-5">Introduction</p>
<p>Welcome to the Mǽrstánas web app! This privacy policy outlines how we
    collect, use, and protect your personal information when you use our
    application. By accessing or using our application, you agree to the terms
    of this policy.</p>

<p class="fs-3 mt-5">Information We Collect</p>
<p><strong>Cookies and Application Data:</strong> This application uses cookies
    and stores your email, username, (encrypted) password, and game history in a
    database.</p>
<p><strong>Other Data:</strong> We do not collect any other data from you.
    However, the application is hosted by <a href="https://fly.io"
                                             target="_blank">Fly.io</a> and
    their <a href="https://fly.io/legal/privacy-policy/" target="_blank">privacy
        policy</a> applies to their service.</p>

<p class="fs-3 mt-5">How We Use Cookies</p>
<p><strong>Cookie Information:</strong> We use cookies to keep you logged into
    your account.</p>

<p class="fs-3 mt-5">Third-Party Services</p>
<p>We do not share your personal information with third parties. However, please
    note that our application may link to external websites or services. Their
    privacy policies govern the use of your data on those platforms.</p>

<p class="fs-3 mt-5">Data Security</p>
<p>We take reasonable measures to protect your data from unauthorized access,
    loss, or misuse. However, no method of transmission over the internet is
    entirely secure. Please use our application responsibly and avoid sharing
    sensitive information.</p>

<p class="fs-3 mt-5">Your Choices</p>
<p>You can manage cookies through your browser settings. If you disable cookies,
    some features of our application may not function correctly. Deleting your
    account removes all data and is irreversible.</p>

<p class="fs-3 mt-5">Changes to this Policy</p>
<p>We may update this privacy policy periodically. Please check this page for
    the latest version.</p>

<p class="fs-3 mt-5">Contact Us</p>
<p>If you have any questions or concerns about our privacy practices, please
    contact us at <a href="mailto:jaerrib[at]tutanota[dot]com">jaerrib@tutanota.com</a>.
</p>

{% endblock content %}