{% block stone_selection %}
{% load static %}
<div class="d-flex">
    <div class="square"></div>
    <div class="square">
        {% if request.session.active_stone == 1 and game.active_player == 1 %}
        <a href="{% url 'select_stone' pk=game.id stone=1 %}"><img
                src="{% static 'images/dark_stone.svg' %}"
                class="stone stone-selected" alt="dark stone"></a>
        {% else %}
        <a href="{% url 'select_stone' pk=game.id stone=1 %}"><img
                src="{% static 'images/dark_stone.svg' %}"
                class="stone" alt="dark stone"></a>
        {% endif %}
    </div>

    <div class="square">
        {% if request.session.active_stone == 2 and game.active_player == 1 %}
        <a href="{% url 'select_stone' pk=game.id stone=2 %}"><img
                src="{% static 'images/dark_thunder_stone.svg' %}"
                class="stone stone-selected" alt="dark thunder stone"></a>
        {% elif game.p1_has_thunder_stone %}
        <a href="{% url 'select_stone' pk=game.id stone=2 %}"><img
                src="{% static 'images/dark_thunder_stone.svg' %}"
                class="stone" alt="dark thunder stone"></a>
        {% else %}
        <img src="{% static 'images/dark_thunder_stone.svg' %}"
             class="stone stone-disabled" alt="dark thunder stone">
        {% endif %}
    </div>

    <div class="square">
        {% if request.session.active_stone == 3 and game.active_player == 1 %}
        <a href="{% url 'select_stone' pk=game.id stone=3 %}"><img
                src="{% static 'images/dark_woden_stone.svg' %}"
                class="stone stone-selected" alt="dark Woden stone"></a>
        {% elif game.p1_has_woden_stone %}
        <a href="{% url 'select_stone' pk=game.id stone=3 %}"><img
                src="{% static 'images/dark_woden_stone.svg' %}"
                class="stone stone" alt="dark Woden stone"></a>
        {% else %}
        <img src="{% static 'images/dark_woden_stone.svg' %}"
             class="stone stone-disabled" alt="dark Woden stone">
        {% endif %}
    </div>

    <div class="square"></div>
    <div class="square">
        {% if request.session.active_stone == 1 and game.active_player == 2 %}
        <a href="{% url 'select_stone' pk=game.id stone=1 %}"><img
                src="{% static 'images/light_stone.svg' %}"
                class="stone stone-selected" alt="light stone"></a>
        {% else %}
        <a href="{% url 'select_stone' pk=game.id stone=1 %}"><img
                src="{% static 'images/light_stone.svg' %}"
                class="stone" alt="light stone"></a>
        {% endif %}
    </div>

    <div class="square">
        {% if request.session.active_stone == 2 and game.active_player == 2 %}
        <a href="{% url 'select_stone' pk=game.id stone=2 %}"><img
                src="{% static 'images/light_thunder_stone.svg' %}"
                class="stone stone-selected" alt="light thunder stone"></a>
        {% elif game.p2_has_thunder_stone %}
        <a href="{% url 'select_stone' pk=game.id stone=2 %}"><img
                src="{% static 'images/light_thunder_stone.svg' %}"
                class="stone" alt="light thunder stone"></a>
        {% else %}
        <img src="{% static 'images/light_thunder_stone.svg' %}"
             class="stone stone-disabled" alt="light thunder stone">
        {% endif %}
    </div>

    <div class="square">
        {% if request.session.active_stone == 3 and game.active_player == 2 %}
        <a href="{% url 'select_stone' pk=game.id stone=3 %}"><img
                src="{% static 'images/light_woden_stone.svg' %}"
                class="stone stone-selected" alt="light Woden stone"></a>
        {% elif game.p2_has_woden_stone %}
        <a href="{% url 'select_stone' pk=game.id stone=3 %}"><img
                src="{% static 'images/light_woden_stone.svg' %}"
                class="stone stone" alt="light Woden stone"></a>
        {% else %}
        <img src="{% static 'images/light_woden_stone.svg' %}"
             class="stone stone-disabled" alt="light Woden stone">
        {% endif %}
    </div>
</div>
{% endblock stone_selection %}