{% extends "_base.html" %}

{% block title %}Mǽrstánas: Support{% endblock title %}

{% block content %}
<p class="fs-2">Support</p>

<p class="fst-italic">Last Updated: 22 November 2024</p>

<p class="fs-3">Reporting Bugs</p>
<p>We strive to provide a seamless experience for our users, but occasionally,
    bugs may slip through the cracks. We appreciate your help in identifying and
    resolving these issues.</p>

<p class="fs-4">How to Submit a Bug</p>
<p class="fs-5">1. Using Codeberg (preferred):</p>
<ul>
    <li>Visit our
        <a href="https://codeberg.org/jaerrib/maerstanas-webapp/issues">
            Codeberg issue tracker</a>.
    </li>
    <li>Click on "New Issue."</li>
    <li>Provide a detailed description of the bug, including steps to reproduce
        it, any error messages, and the environment you were using (e.g.,
        browser, OS).
    </li>
    <li>Attach any relevant screenshots or logs.</li>
</ul>
<p class="fs-5">2. Via Email:</p>
<ul>
    <li>Send an email to <a href="mailto:jaerrib[at]tutanota[dot]com">jaerrib@tutanota.com</a>.
    </li>
    <li>Include a detailed description of the bug, steps to reproduce it, and
        any relevant screenshots or logs.
    </li>
    <li>Mention the environment you were using (e.g., browser, OS).</li>
</ul>


Thank you for helping us improve our web app!


{% endblock content %}