{% extends "_base.html" %}

{% block title %}Terms of Service{% endblock title %}

{% block content %}
<p class="fs-2">Terms of Service</p>
<p class="fst-italic">Last Updated: 22 November 2024</p>

<p class="fs-3 mt-5">Introduction</p>
<p>Welcome to the Mǽrstánas web app! These Terms of Service (“Terms”) govern
    your use of our web application that allows users to play a turn-based
    abstract strategy board game in an asynchronous manner (the “Service”). By
    accessing or using the Service, you agree to be bound by these Terms.</p>

<p class="fs-3 mt-5">1. Use of the Service</p>
<p>1.1 Eligibility: You must be at least 13 years old or have the approval of a
    parent or guardian to use our Service. By using the Service, you represent
    and warrant that you have the legal capacity to enter into these Terms.</p>
<p>1.2 Account: You may need to create an account to access certain features of
    the Service. You agree to provide accurate, current, and complete
    information during the registration process and to update such information
    to keep it accurate, current, and complete.</p>

<p class="fs-3 mt-5">2. User Conduct</p>
<p>2.1 No Messaging: Currently, users cannot message each other through the
    Service. Any communication between users is limited to sending game
    invites.</p>
<p>2.2 Game Invites: You may send game invites to other users. However, you
    must not use this feature to spam or harass other users. If a user has
    denied your game invites multiple times, you must respect their decision and
    refrain from sending further invites.</p>
<p>2.3 Prohibited Activities: You agree not to engage in any of the following
    prohibited activities:</p>
<p>Using the Service for any illegal purpose or in violation of any local,
    state, national, or international law.</p>
<p>Attempting to interfere with or disrupt the Service, servers, or networks
    connected to the Service.</p>

<p class="fs-3 mt-5">3. Intellectual Property</p>
<<p>3.1 Ownership: The Service and its entire contents, features, and
    functionality are owned by John Beers, its licensors, or other providers of
    such material and are protected by international copyright, trademark,
    patent, trade secret, and other intellectual property or proprietary rights
    laws.</p>

<p class="fs-3 mt-5">4. Termination</p>
<p>4.1 Termination by You: You may terminate your account at any time by
    following the instructions provided in the Service.</p>
<p>4.2 Termination by Us: We may terminate or suspend your access to the
    Service, without prior notice or liability, for any reason, including but
    not limited to if you breach these Terms.</p>


<p class="fs-3 mt-5">5. Disclaimers and Limitations of Liability</p>
<p>5.1 Disclaimers: The Service is provided on an “as is” and “as available”
    basis. We make no warranties, express or implied, regarding the Service,
    including but not limited to its availability, accuracy, or reliability.</p>
<p>5.2 Limitations of Liability: In no event shall John Beers be
    liable for any indirect, incidental, special, consequential, or punitive
    damages, or any loss of profits or revenues, whether incurred directly or
    indirectly, or any loss of data, use, goodwill, or other intangible losses,
    resulting from your use of the Service.</p>

<p class="fs-3 mt-5">6. Governing Law</p>
<p>6.1 Governing Law: These Terms shall be governed by and construed in
    accordance with the laws of the United States, without regard to its
    conflict of law principles.</p>

<p class="fs-3 mt-5">7. Changes to the Terms</p>
<p>7.1 Changes: We may modify these Terms from time to time. We will provide
    notice of any changes by updating the “Last Updated” date at the top of
    these Terms. Your continued use of the Service after any such changes
    constitutes your acceptance of the new Terms.</p>

<p class="fs-3 mt-5">8. Contact Information</p>
<p>8.1 Contact Us: If you have any questions about these Terms, please contact
    us at <a href="mailto:jaerrib[at]tutanota[dot]com">jaerrib@tutanota.com</a>.
</p>
{% endblock content %}