<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <title>Mǽrstánas</title>
</head>
<body>
    {% block header %}
    {% include "header.html" %}
    {% endblock header %}

  <div class="container p-4">
    <div class="row align-items-md-stretch">
        <div class="col-md-3 my-2">
            <img src="{% static 'img/screenshot.jpg' %}" class="img-fluid shadow-sm" role="img" alt="gameboard image">
        </div>

        <div class="col-md-8 fs-4">
            <p><strong>Mǽrstánas</strong> is an <a href="https://en.wikipedia.org/wiki/Abstract_strategy_game" target="_blank">abstract strategy</a> game created in 2022 by John Beers.</p>
            <p>The game itself is available under a <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons Attribution-ShareAlike 4.0 International license</a> while software versions are <a href="https://www.gnu.org/philosophy/free-sw.html" target="_blank">free libre open source</a>.</p>
            <p>Gameplay involves players alternately placing stones within the squares of a 7x7 grid with the goal of creating connection points between their own pieces. Scoring is based on the number of these connections.</p>
        </div>
    </div>
  </div>


    {% block footer %}
    {% include "footer.html" %}
    {% endblock footer %}

</body>
</html>